{% extends "base.html" %}

{% block title %}
Take Assignment
{% endblock %}

{% block head %}


{% endblock %}

{% block body %}
<script>
	g_AssignmentData = new Map()
	g_AssignmentData.set("id", {{ assignment_data['id'] }})
	g_AssignmentData.set("teacher_id", {{ assignment_data['teacher_id'] }})
	g_AssignmentData.set("title", "{{ assignment_data['title'] | string }}")
	g_AssignmentData.set("due_date", "{{ assignment_data['due_date'] | string }}")
	g_AssignmentData.set("questions", {{ assignment_questions }}) // TODO: Make sure to check this
	g_AssignmentData.set("question_options", {{ assignment_question_options }}) // TODO: Make sure to check this
</script>

<div id="question_display">

</div>
{% endblock %}
