{% set active_page = "Tasks" %}

{% extends "base.html" %}

{% block title %}
Awesome Test Website - Create Assignment
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/assignments.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/input.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/questions.css') }}">

<script type="module" src="{{ url_for('static', filename = 'js/assignments/display.js') }}"></script>
<script type="module" src="{{ url_for('static', filename = 'js/assignments/edit.js') }}"></script>
{% endblock %}

{% block body %}
<script>
	g_AssignmentData = new Map()
	g_AssignmentData.set("id", {{ assignment_data['id'] }})
	g_AssignmentData.set("teacher_id", {{ assignment_data['teacher_id'] }})
	g_AssignmentData.set("title", "{{ assignment_data['title'] | string }}")
	g_AssignmentData.set("due_date", "{{ assignment_data['due_date'] | string }}")
	g_AssignmentData.set("questions", {{ assignment_questions }}) // TODO: Make sure to check this
</script>

<div id="editor_container">
	<div id="editor">
		<div class="flexbox">
			<p class="flex_fill">Assignment Name</p>
			<input id="input_title" class="flex_fill" type="text" name="assignment_name" value="{{ assignment_data['title'] | string }}" placeholder="Assignment Name" onkeypress="this.dispatchEvent(new Event('change'))" onpaste="this.dispatchEvent(new Event('change'))" oninput="this.dispatchEvent(new Event('change'))">
		</div>

		<div class="flexbox">
			<p class="flex_fill">Due Date</p>
			<input id="dropdown_due_date" class="flex_fill" type="datetime-local" name="assignment_date" value="{{ assignment_data['due_date'] | string }}" placeholder="Assignment Date">
		</div>

		<div id="question_container" class="flex_fill">
			<div class="flexbox">
				<button id="btn_previous_question">Previous Question</button>
				<button id="btn_next_question" class="float_right">Next Question</button>
			</div>

			<div class="flexbox">
				<select id="dropdown_question_type">
					<option value="oe">Open Ended</option>
					<option value="mc">Multiple Choice</option>
				</select>

				<button id="btn_add_question">Add Question</button>
				<button id="btn_delete_question" class="float_right">Delete Question</button>
			</div>

			<div id="question_display" class="flex_fill">
			</div>
		</div>

		<div>
			<input class="wider float_right" type="submit" value="Submit">
		</div>
	</div>
</div>
{% endblock %}
