{% extends "base.html" %}

{% block title %}
View Assignment
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div id="assignment_view_body">
	<h3>{{ assignment["title"] }}</h3>
	<p>Created by {{ teacher }}</p>
	<p>{{ students_count }} student(s) have taken this test</p>

	<div id="info">
		{% for i in range(assignment_data | length) %}
			<div class="student_info">
				Student: {{ assignment_data[i][0].student_id }}
				Grade: {{ assignment_data[i][1] }}
				<!-- Graded by: {{ assignment_data[i][2] }} -->
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
