<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
			Home
			{% endblock %}
		</title>

		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles/base.css') }}">

		{% block head %}
		{% endblock %}
	</head>

	<body>
		<div id="navbar">
			<!-- <img id="logo" src="{{ url_for('static', filename = 'img/test.png') }}"> -->
			<ion-icon id="logo" name="shapes-outline"></ion-icon>

			<div>
				<div class="navbar_button active">
					<ion-icon name="document-text-outline"></ion-icon>
					Tasks
				</div>

				<div class="navbar_button">
					<ion-icon name="stats-chart-outline"></ion-icon>
					Grades
				</div>

				<div class="navbar_button">
					<ion-icon name="settings-outline"></ion-icon>
					Settings
				</div>
			</div>
		</div>

		<div id="body_block">
			{% block body %}
			{% endblock %}
		</div>

		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
