{% extends "base.html" %}

{% block head %}
<script type="module" src="{{ url_for('static', filename = 'js/assignment_editor.js') }}"></script>
{% endblock %}

{% block body %}
<script>
ASSIGNMENT_ID = {{ assignment_id }}
</script>

{% if mode == "edit" %}
<form class="flexbox flex_column flex_gap" style="width: 50%;" action="/assignments/edit/" method="POST">
	<div class="flexbox flex_hspace">
		<button id="btn_prev_question">Previous Question</button>
		<button id="btn_next_question">Next Question</button>
	</div>

	<div class="flexbox flex_hspace">
		<div class="flexbox flex_gap">
			<select id="question_type">
				<option>Multiple Choice</option>
				<option>Open Ended</option>
			</select>

			<button id="btn_new_question">Add New Question</button>
		</div>

		<button id="btn_del_question">Delete Current Question</button>
	</div>

	<div id="assignment_render_target" class="flex_fill">

	</div>
</form>
{% endif %}
{% endblock %}
