{% extends "base.html" %}

{% block head %}
<script type="module" src="{{ url_for('static', filename = 'js/signup.js') }}"></script>
{% endblock %}

{% block body %}
{% if error_msg %}
<p>Error: {{ error_msg }}</p>
{% endif %}

<form class="flexbox flex_column flex_gap" style="width: 25%;" action="/signup/" method="POST">
	<div class="flexbox flex_gap flex_fill">
		<input name="first_name" class="flex_fill" type="text" placeholder="First Name" required>
		<input name="last_name" class="flex_fill" type="text" placeholder="Last Name" required>
	</div>

	<input class="flex_fill" name="email" type="email" placeholder="Email Address" required>
	<input class="flex_fill" name="password" type="password" placeholder="Password" required>
	<input class="flex_fill" name="password_verify" type="password" placeholder="Verify Password" required>

	<select class="flex_fill" name="account_type">
		<option value="student">Student</option>
		<option value="teacher">Teacher</option>
	</select>

	<input class="flex_fill" type="submit" value="Sign Up">
</form>
{% endblock %}
